* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-0.1in);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #f5f6f9;
} */

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;

  &:before {
    content: "";
    margin-top: 35px;
    position: absolute;
    top: calc(55% - 2px);
    width: 50%;
    height: 2px;
    background-color: #cf0000;
    transform-origin: center center;
    transform: scaleX(0);

    animation: line-animation 3s ease infinite alternate;
  }

  h1#page-logo {
    font: bold 2rem "Arial", sans-serif;

    animation: clip-path-reveal-1 3s ease infinite alternate;
  }
}

@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  70% {
    transform: scaleX(0.2);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
}

@keyframes clip-path-reveal-1 {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
